AgenticAI/n8n/agenticworkflow_json_mPCv.json
{
  "name": "agenticworkflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -480,
        -128
      ],
      "id": "8cb53f10-1a61-4240-a9a6-c5d3f6e57d05",
      "name": "When chat message received",
      "webhookId": "8acf43b1-25fa-495e-bc84-f4a582af4c0c"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10cb048b-f36d-4451-afc1-c66932f3b11b",
              "name": "chatInput",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        -128
      ],
      "id": "e0b3a4f0-fe2e-474c-ae1d-73775b90da3e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant whatever questions will asked do one things go to wikipedia and seach for an answer and summarize it witth all the bullet points and give me a final output , output should not be mkore than in 200 workds ."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -16,
        -128
      ],
      "id": "16fc36b2-7a2a-4310-b1a0-21fe36cf2f93",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -96,
        80
      ],
      "id": "cb94608f-af03-4ea7-95dc-8808e029498a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XAhteWwEi9sVTaav",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        256,
        64
      ],
      "id": "d86b147c-65b6-4552-b5d8-2da32ca4901b",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "sendTo": "sudhanshu@euron.one",
        "subject": "={{ $('When chat message received').item.json.chatInput }}",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        336,
        -128
      ],
      "id": "ad7155f6-9007-44ff-9759-c04cb83be52c",
      "name": "Send a message",
      "webhookId": "10cf268b-1a23-4fbf-94f4-484e99f560ad",
      "credentials": {
        "gmailOAuth2": {
          "id": "LAahY2RdEMfWjp55",
          "name": "Gmail account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "278105ac-ef37-4cc2-b6eb-8a058b38bfd5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5803b12455e37b4e61e6adfd91f47bf7633ccace7711bf26397316ff159df6b5"
  },
  "id": "RSTfws8tG8IdFiJV",
  "tags": []
}