AgenticAI/n8n/multiwebsite_json_ahEG.json
{
  "name": "My workflow 6",
  "nodes": [
    {
      "parameters": {
        "url": "https://euron.one/course/gen-ai-certification-bootcamp",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1024,
        -560
      ],
      "id": "b817ba24-5cab-4188-bbf8-d4ec2c8614fa",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf0f09e1-1ccc-43af-ad6a-3b37ab05f799",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -464,
        -432
      ],
      "id": "20deb678-035d-4907-9b31-bf34a8b2fc46",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "options": {
          "systemMessage": "give me only the sylabus part of it "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -240,
        -464
      ],
      "id": "988ffc94-1ddc-458e-b003-46b278b46474",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -240,
        -160
      ],
      "id": "67cb8768-93d1-4500-8e69-020dfa7a7f60",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "5CbCQyJvnn2f8GXF",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "url": "https://euron.one/course/gen-ai-certification-bootcamp",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1008,
        -320
      ],
      "id": "ab8202a2-8698-417a-9f00-c2d9e0d3802a",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "https://euron.one/course/gen-ai-certification-bootcamp",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -992,
        -112
      ],
      "id": "35dd6efb-2374-4963-b79c-93b5feae00a2",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -640,
        -448
      ],
      "id": "f6e03daa-fd6c-4cf9-b73d-08313dfc60bf",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c97d0623-ddcc-48be-81da-b8ffb5aabfcc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5803b12455e37b4e61e6adfd91f47bf7633ccace7711bf26397316ff159df6b5"
  },
  "id": "3LGg6TC5lCGENypG",
  "tags": []
}