AgenticAI/n8n/Testing EURI AI.json
{
  "name": "Testing EURI AI",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -416,
        224
      ],
      "id": "0645cc73-56e2-4eac-a5af-254f569bdfb1",
      "name": "When chat message received",
      "webhookId": "f0562e3d-ed70-419a-afff-470a0f31018b"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e6151dfe-0bd1-490d-8707-a5a9c38a93fc",
              "name": "choices[0].message.content",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        -64
      ],
      "id": "af9a0393-e82c-47b5-9dfb-e6380917be84",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// Function node code\nreturn [\n  {\n    json: {\n      data: $input.first().json.choices[0].message.content\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        -64
      ],
      "id": "b141a6b4-fdc0-4667-908d-85361907b3c5",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.euron.one/api/v1/euri/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.chatInput }}\"\n    },\n    {\n      \"role\": \"assistant\",\n      \"content\": \"{{ $json.chatInput }}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"I didn't get it.\"\n    },\n    {\n      \"role\": \"assistant\",\n      \"content\": \"{{ $json.chatInput }}\"\n    }\n  ],\n  \"model\": \"gpt-4.1-nano\",\n  \"max_tokens\": 1000,\n  \"temperature\": 0.7\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        -64
      ],
      "id": "37b49e96-8847-4a00-8b7a-640f774eb123",
      "name": "Euri Test Text Model",
      "credentials": {
        "httpBearerAuth": {
          "id": "8ZkhkWsck6v2KCTU",
          "name": "Euri"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1YZk12lNR7ZpjtJ6pOB2ugIgVIyF15-oAGPhuzCg2KE4",
          "mode": "list",
          "cachedResultName": "LInkedin Ai Autmation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YZk12lNR7ZpjtJ6pOB2ugIgVIyF15-oAGPhuzCg2KE4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1500185148,
          "mode": "list",
          "cachedResultName": "Euri Image",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YZk12lNR7ZpjtJ6pOB2ugIgVIyF15-oAGPhuzCg2KE4/edit#gid=1500185148"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Image Link": "={{ $json.data[0].url }}",
            "Image Promt": "={{ $json.data[0].revised_prompt }}"
          },
          "matchingColumns": [
            "Image Promt"
          ],
          "schema": [
            {
              "id": "Image Promt",
              "displayName": "Image Promt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image Link",
              "displayName": "Image Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        80,
        224
      ],
      "id": "d13149e5-b81f-4a17-9a36-aa2e68a4c948",
      "name": "Euri Image AiwithDhruv Linkedin",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WbzVyGwbDVzvcV25",
          "name": "Ai with Dhruv"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.euron.one/api/v1/euri/images/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"prompt\": \"{{ $json.chatInput }}\",\n    \"model\": \"black-forest-labs/FLUX.1-schnell\",\n    \"n\": 2,\n    \"size\": \"1024x1024\",\n    \"quality\": \"Ultra high\",\n    \"response_format\": \"url\",\n    \"style\": \"vivid\"\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -144,
        224
      ],
      "id": "034e302e-2377-47c6-a754-0d2e27154114",
      "name": "Euri Image Generator",
      "credentials": {
        "httpBearerAuth": {
          "id": "8ZkhkWsck6v2KCTU",
          "name": "Euri"
        }
      }
    },
    {
      "parameters": {
        "path": "93d925b9-70b2-46d0-b19b-567f5133586d",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -384,
        -64
      ],
      "id": "e0e6ca1a-4931-443d-b1de-70091e5cd18b",
      "name": "Webhook",
      "webhookId": "93d925b9-70b2-46d0-b19b-567f5133586d"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Euri Image Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Euri Test Text Model": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Euri Image Generator": {
      "main": [
        [
          {
            "node": "Euri Image AiwithDhruv Linkedin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Euri Test Text Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f1d35728-4c9c-44cf-ac96-b7649f3e9085",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c3e645f5109637be2409447c66b5bc87c40395588b268359a2148764bbf4227e"
  },
  "id": "6KNxCiGZl44riWz3",
  "tags": []
}